{
  "openapi": "3.1.0",
  "info": {
    "title": "AssetPay Public API",
    "version": "0.6.0",
    "description": "Public trading API - skin deposits, withdrawals, pricing, client endpoints, and identity verification."
  },
  "servers": [
    {
      "url": "https://api.assetpay.gg",
      "description": "Production"
    },
    {
      "url": "https://api-staging.assetpay.gg",
      "description": "Staging"
    }
  ],
  "tags": [
    {
      "name": "Client Authentication",
      "description": "Client token issuance for trading operations"
    },
    {
      "name": "Trading",
      "description": "Core trading operations (trade URL check, pricing)"
    },
    {
      "name": "Client",
      "description": "Client-facing endpoints (inventory, trade history, market)"
    },
    {
      "name": "Deposits",
      "description": "Skin deposit operations"
    },
    {
      "name": "Withdrawals",
      "description": "Skin withdrawal operations"
    },
    {
      "name": "Verification",
      "description": "Client identity verification via Signicat PictureID (document + selfie)"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Merchant or admin JWT access token"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key",
        "description": "Merchant API key (format: ap_...)"
      },
      "ClientToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Client JWT token issued via authenticate-client"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/auth/authenticate-client": {
      "post": {
        "summary": "Authenticate a trading client",
        "description": "Creates a client JWT token for a Steam user. Requires a merchant API key with CORE_ACCESS scope. The returned token is used by the client for inventory, deposit, and withdrawal endpoints.",
        "tags": [
          "Client Authentication"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientSteamId": {
                    "type": "string",
                    "pattern": "^76561\\d{12}$"
                  },
                  "clientTradeUrl": {
                    "type": "string",
                    "pattern": "^https:\\/\\/steamcommunity\\.com\\/tradeoffer\\/new\\/\\?partner=\\d{1,10}&token=[A-Za-z0-9_-]{8}$"
                  },
                  "clientData": {
                    "type": "object",
                    "properties": {
                      "totalWager": {
                        "type": "number",
                        "minimum": 0
                      },
                      "registrationDate": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "format": "date-time"
                      },
                      "kycHash": {
                        "type": "string"
                      },
                      "kycLevel": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "fiatDeposits": {
                        "type": "boolean"
                      },
                      "cryptoDeposits": {
                        "type": "boolean"
                      }
                    }
                  },
                  "clientId": {
                    "type": "string",
                    "maxLength": 128
                  }
                },
                "required": [
                  "clientSteamId",
                  "clientTradeUrl"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client token issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "token"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - validation failed or invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/secure/check-tradeurl": {
      "post": {
        "summary": "Check trade URL validity",
        "description": "Validates a Steam trade URL and checks the user's trade eligibility (bans, escrow, privacy settings). Requires API key with CORE_ACCESS scope. Results are cached for 1 hour unless forceRefresh is true.",
        "tags": [
          "Trading"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tradeurl": {
                    "type": "string",
                    "pattern": "^https:\\/\\/steamcommunity\\.com\\/tradeoffer\\/new\\/\\?partner=\\d{1,10}&token=[A-Za-z0-9_-]{8}$"
                  },
                  "forceRefresh": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": [
                  "tradeurl"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trade URL check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "state": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 8,
                          "description": "1=Normal, 2=CS2Banned, 3=RustBanned, 4=Banned, 5=InventoryPrivate, 6=TradeUrlInvalid, 7=UserNotFound, 8=UnknownError"
                        },
                        "steamid": {
                          "type": "string",
                          "description": "Steam ID of the user"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable status message"
                        },
                        "canTrade": {
                          "type": "boolean",
                          "description": "Whether the user can trade"
                        },
                        "reason": {
                          "type": "object",
                          "properties": {
                            "escrowDays": {
                              "type": "integer"
                            },
                            "probation": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "escrowDays",
                            "probation"
                          ],
                          "description": "Trade restriction details"
                        }
                      },
                      "required": [
                        "state",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - validation failed or invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/secure/prices": {
      "get": {
        "summary": "Get item prices and offers",
        "description": "Returns the current offer-price book for a given game — the prices AssetPay will pay for each item type. Sourced from AssetPay's pricing service and refreshed periodically. Requires API key with CORE_ACCESS scope.",
        "tags": [
          "Trading"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "default": 730
            },
            "required": false,
            "name": "game",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of item offers with prices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "marketHashName": {
                                "type": "string"
                              },
                              "accepted": {
                                "type": "boolean"
                              },
                              "price": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "marketHashName",
                              "accepted",
                              "price"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "marketHashName": {
                                "type": "string"
                              },
                              "accepted": {
                                "type": "boolean"
                              },
                              "price": {
                                "type": "number"
                              },
                              "maxAmount": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "marketHashName",
                              "accepted",
                              "price"
                            ]
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - validation failed or invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/secure/inventory": {
      "get": {
        "summary": "Get Steam inventory (merchant self-trade)",
        "description": "Fetches a Steam account's inventory. The merchant passes a tradeUrl per request and AssetPay derives the steamId from it — no client authentication step is needed. Use this to discover items the merchant can sell to AssetPay via /secure/sell.",
        "tags": [
          "Trading"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": [
                "boolean",
                "null"
              ],
              "default": false
            },
            "required": false,
            "name": "refresh",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "default": 730
            },
            "required": false,
            "name": "game",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "sort",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "number",
                "null"
              ]
            },
            "required": false,
            "name": "minPrice",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "number",
                "null"
              ]
            },
            "required": false,
            "name": "maxPrice",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "default": 50
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^https:\\/\\/steamcommunity\\.com\\/tradeoffer\\/new\\/\\?partner=\\d{1,10}&token=[A-Za-z0-9_-]{8}$"
            },
            "required": true,
            "name": "tradeUrl",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Inventory items + collateral",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "inventory": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "appid": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "marketHashName": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "iconUrl": {
                                "type": "string"
                              },
                              "tradable": {
                                "type": "boolean"
                              },
                              "amount": {
                                "type": "number"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "initiated",
                                  "pending",
                                  "active",
                                  "hold",
                                  "completed",
                                  "failed",
                                  "canceled",
                                  "reverted",
                                  "escrow"
                                ],
                                "description": "Per-item status (withdrawals only)"
                              },
                              "marketPrice": {
                                "type": "number",
                                "description": "BUFF163 market price in USD"
                              },
                              "offer": {
                                "type": "object",
                                "properties": {
                                  "price": {
                                    "type": "number",
                                    "description": "Offer price in USD"
                                  },
                                  "reference": {
                                    "type": "string",
                                    "description": "Marketplace listing reference"
                                  },
                                  "delivery": {
                                    "type": "string",
                                    "enum": [
                                      "standard",
                                      "instant"
                                    ],
                                    "description": "Skinshark delivery mode"
                                  },
                                  "maxAmount": {
                                    "type": "number"
                                  },
                                  "accepted": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "price",
                                  "reference"
                                ]
                              },
                              "exterior": {
                                "type": "string"
                              },
                              "rarity": {
                                "type": "string"
                              },
                              "color": {
                                "type": "string"
                              },
                              "wear": {
                                "type": "string"
                              },
                              "paintSeed": {
                                "type": "integer"
                              },
                              "doppler": {
                                "type": "object",
                                "properties": {
                                  "status": {
                                    "type": "integer"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "paintIndex": {
                                    "type": "integer"
                                  }
                                },
                                "required": [
                                  "name"
                                ]
                              },
                              "fade": {
                                "type": "object",
                                "properties": {
                                  "percentage": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "percentage"
                                ]
                              },
                              "hardened": {
                                "type": "object",
                                "properties": {
                                  "status": {
                                    "type": "integer"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "status",
                                  "name"
                                ]
                              },
                              "stickers": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "marketHashName": {
                                      "type": "string"
                                    },
                                    "slot": {
                                      "type": "integer"
                                    },
                                    "wear": {
                                      "type": "number"
                                    },
                                    "iconUrl": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "slot",
                                    "iconUrl"
                                  ]
                                }
                              },
                              "charm": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "marketHashName": {
                                    "type": "string"
                                  },
                                  "iconUrl": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "name",
                                  "iconUrl"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "appid",
                              "name",
                              "marketHashName",
                              "type",
                              "iconUrl",
                              "tradable"
                            ]
                          }
                        },
                        "count": {
                          "type": "integer"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "collateral": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "inventory",
                        "count",
                        "updatedAt",
                        "collateral"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - validation failed or invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/secure/sell": {
      "post": {
        "summary": "Sell skins to AssetPay (merchant self-trade)",
        "description": "Initiates a deposit-style trade where the merchant sends their own Steam items to AssetPay in exchange for USD wallet credit. Pricing must match the latest /secure/prices snapshot. Webhooks fire on state changes.",
        "tags": [
          "Trading"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "itemId": {
                          "type": "string",
                          "minLength": 5,
                          "maxLength": 256
                        },
                        "price": {
                          "type": "number",
                          "exclusiveMinimum": 0
                        },
                        "amount": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 10000,
                          "default": 1
                        }
                      },
                      "required": [
                        "itemId",
                        "price"
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 250
                  },
                  "game": {
                    "type": "string",
                    "default": "730"
                  },
                  "externalId": {
                    "type": "string",
                    "maxLength": 128
                  },
                  "isInstant": {
                    "type": "boolean",
                    "default": true
                  },
                  "tradeUrl": {
                    "type": "string",
                    "pattern": "^https:\\/\\/steamcommunity\\.com\\/tradeoffer\\/new\\/\\?partner=\\d{1,10}&token=[A-Za-z0-9_-]{8}$"
                  }
                },
                "required": [
                  "items",
                  "tradeUrl"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trade record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "deposit",
                            "withdraw"
                          ]
                        },
                        "source": {
                          "type": "string",
                          "enum": [
                            "client",
                            "self"
                          ],
                          "description": "Trade origin: \"client\" (end-user flow) or \"self\" (merchant self-trade)"
                        },
                        "externalId": {
                          "type": "string"
                        },
                        "externalClientUserId": {
                          "type": "string"
                        },
                        "merchantId": {
                          "type": "string"
                        },
                        "clientUserId": {
                          "type": "string"
                        },
                        "clientTradeUrl": {
                          "type": "string"
                        },
                        "clientSteamID": {
                          "type": "string"
                        },
                        "offerID": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "initiated",
                            "pending",
                            "active",
                            "hold",
                            "completed",
                            "failed",
                            "canceled",
                            "reverted",
                            "escrow"
                          ]
                        },
                        "game": {
                          "type": "string"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "appid": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "marketHashName": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "iconUrl": {
                                "type": "string"
                              },
                              "tradable": {
                                "type": "boolean"
                              },
                              "amount": {
                                "type": "number"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "initiated",
                                  "pending",
                                  "active",
                                  "hold",
                                  "completed",
                                  "failed",
                                  "canceled",
                                  "reverted",
                                  "escrow"
                                ],
                                "description": "Per-item status (withdrawals only)"
                              },
                              "marketPrice": {
                                "type": "number",
                                "description": "BUFF163 market price in USD"
                              },
                              "offer": {
                                "type": "object",
                                "properties": {
                                  "price": {
                                    "type": "number",
                                    "description": "Offer price in USD"
                                  },
                                  "reference": {
                                    "type": "string",
                                    "description": "Marketplace listing reference"
                                  },
                                  "delivery": {
                                    "type": "string",
                                    "enum": [
                                      "standard",
                                      "instant"
                                    ],
                                    "description": "Skinshark delivery mode"
                                  },
                                  "maxAmount": {
                                    "type": "number"
                                  },
                                  "accepted": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "price",
                                  "reference"
                                ]
                              },
                              "exterior": {
                                "type": "string"
                              },
                              "rarity": {
                                "type": "string"
                              },
                              "color": {
                                "type": "string"
                              },
                              "wear": {
                                "type": "string"
                              },
                              "paintSeed": {
                                "type": "integer"
                              },
                              "doppler": {
                                "type": "object",
                                "properties": {
                                  "status": {
                                    "type": "integer"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "paintIndex": {
                                    "type": "integer"
                                  }
                                },
                                "required": [
                                  "name"
                                ]
                              },
                              "fade": {
                                "type": "object",
                                "properties": {
                                  "percentage": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "percentage"
                                ]
                              },
                              "hardened": {
                                "type": "object",
                                "properties": {
                                  "status": {
                                    "type": "integer"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "status",
                                  "name"
                                ]
                              },
                              "stickers": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "marketHashName": {
                                      "type": "string"
                                    },
                                    "slot": {
                                      "type": "integer"
                                    },
                                    "wear": {
                                      "type": "number"
                                    },
                                    "iconUrl": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "slot",
                                    "iconUrl"
                                  ]
                                }
                              },
                              "charm": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "marketHashName": {
                                    "type": "string"
                                  },
                                  "iconUrl": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "name",
                                  "iconUrl"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "appid",
                              "name",
                              "marketHashName",
                              "type",
                              "iconUrl",
                              "tradable"
                            ]
                          }
                        },
                        "totalPrice": {
                          "type": "number",
                          "description": "Total price in USD"
                        },
                        "preCredit": {
                          "type": "number",
                          "description": "Instant credit amount in USD"
                        },
                        "pendingCredit": {
                          "type": "number",
                          "description": "Amount held for hold period in USD"
                        },
                        "isInstant": {
                          "type": "boolean",
                          "description": "Whether instant crediting was requested"
                        },
                        "collateral": {
                          "type": "object",
                          "properties": {
                            "merchant": {
                              "type": "number"
                            },
                            "provider": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "merchant",
                            "provider"
                          ]
                        },
                        "holdEndDate": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "revertedBy": {
                          "type": "string",
                          "enum": [
                            "supplier",
                            "user"
                          ]
                        },
                        "botInfo": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "avatar": {
                              "type": "string"
                            },
                            "joined": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "steamId": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "name"
                          ]
                        },
                        "error": {
                          "type": "string"
                        },
                        "readyAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "type",
                        "source",
                        "merchantId",
                        "clientUserId",
                        "clientTradeUrl",
                        "clientSteamID",
                        "status",
                        "game",
                        "items",
                        "totalPrice",
                        "createdAt",
                        "updatedAt"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - validation failed or invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/secure/buy": {
      "post": {
        "summary": "Buy skins from the marketplace (merchant self-trade)",
        "description": "Initiates a withdraw-style trade where AssetPay buys the requested listings from the upstream marketplace (Skinshark for CS2, RustSkins for Rust) and delivers them to the supplied tradeUrl. The merchant wallet is debited.",
        "tags": [
          "Trading"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "itemId": {
                          "type": "string",
                          "minLength": 5,
                          "maxLength": 256
                        },
                        "price": {
                          "type": "number",
                          "exclusiveMinimum": 0,
                          "maximum": 100000
                        }
                      },
                      "required": [
                        "itemId",
                        "price"
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 50
                  },
                  "game": {
                    "type": "string",
                    "default": "730"
                  },
                  "externalId": {
                    "type": "string",
                    "maxLength": 128
                  },
                  "tradeUrl": {
                    "type": "string",
                    "pattern": "^https:\\/\\/steamcommunity\\.com\\/tradeoffer\\/new\\/\\?partner=\\d{1,10}&token=[A-Za-z0-9_-]{8}$"
                  }
                },
                "required": [
                  "items",
                  "tradeUrl"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trade record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "deposit",
                            "withdraw"
                          ]
                        },
                        "source": {
                          "type": "string",
                          "enum": [
                            "client",
                            "self"
                          ],
                          "description": "Trade origin: \"client\" (end-user flow) or \"self\" (merchant self-trade)"
                        },
                        "externalId": {
                          "type": "string"
                        },
                        "externalClientUserId": {
                          "type": "string"
                        },
                        "merchantId": {
                          "type": "string"
                        },
                        "clientUserId": {
                          "type": "string"
                        },
                        "clientTradeUrl": {
                          "type": "string"
                        },
                        "clientSteamID": {
                          "type": "string"
                        },
                        "offerID": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "initiated",
                            "pending",
                            "active",
                            "hold",
                            "completed",
                            "failed",
                            "canceled",
                            "reverted",
                            "escrow"
                          ]
                        },
                        "game": {
                          "type": "string"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "appid": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "marketHashName": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "iconUrl": {
                                "type": "string"
                              },
                              "tradable": {
                                "type": "boolean"
                              },
                              "amount": {
                                "type": "number"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "initiated",
                                  "pending",
                                  "active",
                                  "hold",
                                  "completed",
                                  "failed",
                                  "canceled",
                                  "reverted",
                                  "escrow"
                                ],
                                "description": "Per-item status (withdrawals only)"
                              },
                              "marketPrice": {
                                "type": "number",
                                "description": "BUFF163 market price in USD"
                              },
                              "offer": {
                                "type": "object",
                                "properties": {
                                  "price": {
                                    "type": "number",
                                    "description": "Offer price in USD"
                                  },
                                  "reference": {
                                    "type": "string",
                                    "description": "Marketplace listing reference"
                                  },
                                  "delivery": {
                                    "type": "string",
                                    "enum": [
                                      "standard",
                                      "instant"
                                    ],
                                    "description": "Skinshark delivery mode"
                                  },
                                  "maxAmount": {
                                    "type": "number"
                                  },
                                  "accepted": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "price",
                                  "reference"
                                ]
                              },
                              "exterior": {
                                "type": "string"
                              },
                              "rarity": {
                                "type": "string"
                              },
                              "color": {
                                "type": "string"
                              },
                              "wear": {
                                "type": "string"
                              },
                              "paintSeed": {
                                "type": "integer"
                              },
                              "doppler": {
                                "type": "object",
                                "properties": {
                                  "status": {
                                    "type": "integer"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "paintIndex": {
                                    "type": "integer"
                                  }
                                },
                                "required": [
                                  "name"
                                ]
                              },
                              "fade": {
                                "type": "object",
                                "properties": {
                                  "percentage": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "percentage"
                                ]
                              },
                              "hardened": {
                                "type": "object",
                                "properties": {
                                  "status": {
                                    "type": "integer"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "status",
                                  "name"
                                ]
                              },
                              "stickers": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "marketHashName": {
                                      "type": "string"
                                    },
                                    "slot": {
                                      "type": "integer"
                                    },
                                    "wear": {
                                      "type": "number"
[...]
