{
  "openapi": "3.1.0",
  "info": {
    "title": "AssetPay Public API",
    "version": "0.5.3",
    "description": "Public trading API - skin deposits, withdrawals, pricing, and client endpoints."
  },
  "servers": [
    {
      "url": "https://api.assetpay.co"
    }
  ],
  "tags": [
    {
      "name": "Client Authentication",
      "description": "Client token issuance for trading operations"
    },
    {
      "name": "Trading",
      "description": "Core trading operations (trade URL check, pricing)"
    },
    {
      "name": "Client",
      "description": "Client-facing endpoints (inventory, trade history, market)"
    },
    {
      "name": "Deposits",
      "description": "Skin deposit operations"
    },
    {
      "name": "Withdrawals",
      "description": "Skin withdrawal operations"
    },
    {
      "name": "Verification",
      "description": "Client identity verification via Signicat PictureID (document + selfie)"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Merchant or admin JWT access token"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key",
        "description": "Merchant API key (format: ap_...)"
      },
      "ClientToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Client JWT token issued via authenticate-client"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/auth/authenticate-client": {
      "post": {
        "summary": "Authenticate a trading client",
        "description": "Creates a client JWT token for a Steam user. Requires a merchant API key with CORE_ACCESS scope. The returned token is used by the client for inventory, deposit, and withdrawal endpoints.",
        "tags": [
          "Client Authentication"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientSteamId": {
                    "type": "string",
                    "pattern": "^76561\\d{12}$"
                  },
                  "clientTradeUrl": {
                    "type": "string",
                    "pattern": "^https:\\/\\/steamcommunity\\.com\\/tradeoffer\\/new\\/\\?partner=\\d{1,10}&token=[A-Za-z0-9_-]{8}$"
                  },
                  "clientData": {
                    "type": "object",
                    "additionalProperties": {}
                  },
                  "clientId": {
                    "type": "string",
                    "maxLength": 128
                  }
                },
                "required": [
                  "clientSteamId",
                  "clientTradeUrl"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client token issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "token"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - validation failed or invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/secure/check-tradeurl": {
      "post": {
        "summary": "Check trade URL validity",
        "description": "Validates a Steam trade URL and checks the user's trade eligibility (bans, escrow, privacy settings). Requires API key with CORE_ACCESS scope. Results are cached for 1 hour unless forceRefresh is true.",
        "tags": [
          "Trading"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tradeurl": {
                    "type": "string",
                    "pattern": "^https:\\/\\/steamcommunity\\.com\\/tradeoffer\\/new\\/\\?partner=\\d{1,10}&token=[A-Za-z0-9_-]{8}$"
                  },
                  "forceRefresh": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": [
                  "tradeurl"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trade URL check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "state": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 8,
                          "description": "1=Normal, 2=CS2Banned, 3=RustBanned, 4=Banned, 5=InventoryPrivate, 6=TradeUrlInvalid, 7=UserNotFound, 8=UnknownError"
                        },
                        "steamid": {
                          "type": "string",
                          "description": "Steam ID of the user"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable status message"
                        },
                        "canTrade": {
                          "type": "boolean",
                          "description": "Whether the user can trade"
                        },
                        "reason": {
                          "type": "object",
                          "properties": {
                            "escrowDays": {
                              "type": "integer"
                            },
                            "probation": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "escrowDays",
                            "probation"
                          ],
                          "description": "Trade restriction details"
                        }
                      },
                      "required": [
                        "state",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - validation failed or invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/secure/prices": {
      "get": {
        "summary": "Get item prices and offers",
        "description": "Fetches available item offers with pricing for a given game. CS2 (730) prices come from BUFF163; Rust (252490) prices come from Skinshark. Requires API key with CORE_ACCESS scope.",
        "tags": [
          "Trading"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "default": 730
            },
            "required": false,
            "name": "game",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            },
            "required": false,
            "name": "perPage",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "q",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of item offers with prices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "marketHashName": {
                                    "type": "string"
                                  },
                                  "accepted": {
                                    "type": "boolean"
                                  },
                                  "price": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "marketHashName",
                                  "accepted",
                                  "price"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "marketHashName": {
                                    "type": "string"
                                  },
                                  "overstockLimit": {
                                    "type": "number"
                                  },
                                  "depositPrice": {
                                    "type": "number"
                                  },
                                  "withdrawPrice": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "marketHashName",
                                  "overstockLimit",
                                  "depositPrice",
                                  "withdrawPrice"
                                ]
                              }
                            ]
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "page": {
                              "type": "integer"
                            },
                            "perPage": {
                              "type": "integer"
                            },
                            "total": {
                              "type": "integer"
                            },
                            "totalPages": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "page",
                            "perPage",
                            "total",
                            "totalPages"
                          ]
                        }
                      },
                      "required": [
                        "data",
                        "pagination"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - validation failed or invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/client/inventory": {
      "get": {
        "summary": "Get client Steam inventory",
        "description": "Fetches the authenticated client's Steam inventory with pricing, search, filtering, and pagination. Inventory is cached for 15 minutes unless refresh=true. Includes collateral calculation.",
        "tags": [
          "Client"
        ],
        "security": [
          {
            "ClientToken": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": [
                "boolean",
                "null"
              ],
              "default": false
            },
            "required": false,
            "name": "refresh",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "default": 730
            },
            "required": false,
            "name": "game",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "sort",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "number",
                "null"
              ]
            },
            "required": false,
            "name": "minPrice",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "number",
                "null"
              ]
            },
            "required": false,
            "name": "maxPrice",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "default": 50
            },
            "required": false,
            "name": "perPage",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Client inventory with items, count, and collateral",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "inventory": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "appid": {
                                "type": "integer"
                              },
                              "contextid": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "marketHashName": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "iconUrl": {
                                "type": "string"
                              },
                              "tradable": {
                                "type": "boolean"
                              },
                              "accepted": {
                                "type": "boolean"
                              },
                              "amount": {
                                "type": "number"
                              },
                              "marketPrice": {
                                "type": "number",
                                "description": "BUFF163 market price in USD"
                              },
                              "sourcingPrice": {
                                "type": "object",
                                "properties": {
                                  "source": {
                                    "type": "number",
                                    "description": "Price without fee in USD"
                                  },
                                  "withFee": {
                                    "type": "number",
                                    "description": "Price with fee in USD"
                                  }
                                },
                                "required": [
                                  "source",
                                  "withFee"
                                ]
                              },
                              "offer": {
                                "type": "object",
                                "properties": {
                                  "price": {
                                    "type": "number",
                                    "description": "Offer price in cents"
                                  },
                                  "reference": {
                                    "type": "string",
                                    "description": "Pass this in deposit/withdraw requests"
                                  },
                                  "delivery": {
                                    "type": "string"
                                  },
                                  "maxAmount": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "price",
                                  "reference"
                                ]
                              },
                              "exterior": {
                                "type": "string"
                              },
                              "rarity": {
                                "type": "string"
                              },
                              "color": {
                                "type": "string"
                              },
                              "phase": {
                                "type": "string"
                              },
                              "wear": {
                                "type": "string"
                              },
                              "fade": {
                                "type": "string"
                              },
                              "hardened": {
                                "type": "string"
                              },
                              "paintSeed": {
                                "type": "integer"
                              },
                              "stickers": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "slot": {
                                      "type": "integer"
                                    },
                                    "wear": {
                                      "type": "number"
                                    },
                                    "iconUrl": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "slot",
                                    "iconUrl"
                                  ]
                                }
                              },
                              "charm": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "pattern": {
                                    "type": "string"
                                  },
                                  "iconUrl": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "name",
                                  "iconUrl"
                                ]
                              },
                              "market": {
                                "type": "integer"
                              },
                              "purchaseStatus": {
                                "type": "string",
                                "enum": [
                                  "INITIATED",
                                  "PENDING",
                                  "ACTIVE",
                                  "HOLD",
                                  "COMPLETED",
                                  "FAILED",
                                  "REVERTED"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "appid",
                              "contextid",
                              "name",
                              "marketHashName",
                              "type",
                              "iconUrl",
                              "tradable"
                            ]
                          }
                        },
                        "count": {
                          "type": "integer"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "collateral": {
                          "type": "number",
                          "description": "Available collateral in USD"
                        }
                      },
                      "required": [
                        "inventory",
                        "count",
                        "updatedAt",
                        "collateral"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - validation failed or invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/client/trades": {
      "get": {
        "summary": "Get client trade history",
        "description": "Returns the authenticated client's trade history with pagination. Can be filtered by trade type (DEPOSIT/WITHDRAW) and game.",
        "tags": [
          "Client"
        ],
        "security": [
          {
            "ClientToken": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "default": 10
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "DEPOSIT",
                "WITHDRAW"
              ]
            },
            "required": false,
            "name": "type",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "730"
            },
            "required": false,
            "name": "game",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated trade history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "trades": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "DEPOSIT",
                                  "WITHDRAW"
                                ]
                              },
                              "externalId": {
                                "type": "string"
                              },
                              "externalClientUserId": {
                                "type": "string"
                              },
                              "merchantId": {
                                "type": "string"
                              },
                              "clientUserId": {
                                "type": "string"
                              },
                              "clientTradeUrl": {
                                "type": "string"
                              },
                              "clientSteamID": {
                                "type": "string"
                              },
                              "offerID": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "INITIATED",
                                  "PENDING",
                                  "ACTIVE",
                                  "HOLD",
                                  "COMPLETED",
                                  "FAILED",
                                  "REVERTED",
                                  "ESCROW",
                                  "PARTIAL"
                                ]
                              },
                              "game": {
                                "type": "string"
                              },
                              "items": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "_id": {
                                      "type": "string"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "appid": {
                                      "type": "integer"
                                    },
                                    "contextid": {
                                      "type": "integer"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "marketHashName": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "iconUrl": {
                                      "type": "string"
                                    },
                                    "tradable": {
                                      "type": "boolean"
                                    },
                                    "accepted": {
                                      "type": "boolean"
                                    },
                                    "amount": {
                                      "type": "number"
                                    },
                                    "marketPrice": {
                                      "type": "number",
                                      "description": "BUFF163 market price in USD"
                                    },
                                    "sourcingPrice": {
                                      "type": "object",
                                      "properties": {
                                        "source": {
                                          "type": "number",
                                          "description": "Price without fee in USD"
                                        },
                                        "withFee": {
                                          "type": "number",
                                          "description": "Price with fee in USD"
                                        }
                                      },
                                      "required": [
                                        "source",
                                        "withFee"
                                      ]
                                    },
                                    "offer": {
                                      "type": "object",
                                      "properties": {
                                        "price": {
                                          "type": "number",
                                          "description": "Offer price in cents"
                                        },
                                        "reference": {
                                          "type": "string",
                                          "description": "Pass this in deposit/withdraw requests"
                                        },
                                        "delivery": {
                                          "type": "string"
                                        },
                                        "maxAmount": {
                                          "type": "number"
                                        }
                                      },
                                      "required": [
                                        "price",
                                        "reference"
                                      ]
                                    },
                                    "exterior": {
                                      "type": "string"
                                    },
                                    "rarity": {
                                      "type": "string"
                                    },
                                    "color": {
                                      "type": "string"
                                    },
                                    "phase": {
                                      "type": "string"
                                    },
                                    "wear": {
                                      "type": "string"
                                    },
                                    "fade": {
                                      "type": "string"
                                    },
                                    "hardened": {
                                      "type": "string"
                                    },
                                    "paintSeed": {
                                      "type": "integer"
                                    },
                                    "stickers": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "name": {
                                            "type": "string"
                                          },
                                          "slot": {
                                            "type": "integer"
                                          },
                                          "wear": {
                                            "type": "number"
                                          },
                                          "iconUrl": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "name",
                                          "slot",
                                          "iconUrl"
                                        ]
                                      }
                                    },
                                    "charm": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string"
                                        },
                                        "pattern": {
                                          "type": "string"
                                        },
                                        "iconUrl": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "name",
                                        "iconUrl"
                                      ]
                                    },
                                    "market": {
                                      "type": "integer"
                                    },
                                    "purchaseStatus": {
                                      "type": "string",
                                      "enum": [
                                        "INITIATED",
                                        "PENDING",
                                        "ACTIVE",
                                        "HOLD",
                                        "COMPLETED",
                                        "FAILED",
                                        "REVERTED"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "appid",
                                    "contextid",
                                    "name",
                                    "marketHashName",
                                    "type",
                                    "iconUrl",
                                    "tradable"
                                  ]
                                }
                              },
                              "totalPrice": {
                                "type": "number",
                                "description": "Total price in USD"
                              },
                              "preCredit": {
                                "type": "number",
                                "description": "Instant credit amount in USD"
                              },
                              "pendingCredit": {
                                "type": "number",
                                "description": "Amount held for hold period in USD"
                              },
                              "isInstant": {
                                "type": "boolean",
                                "description": "Whether instant crediting was requested"
                              },
                              "collateral": {
                                "type": "object",
                                "properties": {
                                  "merchant": {
                                    "type": "number"
                                  },
                                  "provider": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "merchant",
                                  "provider"
                                ]
                              },
                              "holdEndDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "revertedBy": {
                                "type": "string",
                                "enum": [
                                  "SUPPLIER",
                                  "USER"
                                ]
                              },
                              "botInfo": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "avatar": {
                                    "type": "string"
                                  },
                                  "joined": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "steamId": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "name"
                                ]
                              },
                              "error": {
                                "type": "string"
                              },
                              "readyAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "merchantId",
                              "clientUserId",
                              "clientTradeUrl",
                              "clientSteamID",
                              "status",
                              "game",
                              "items",
                              "totalPrice",
                              "createdAt",
                              "updatedAt"
                            ]
                          }
                        },
                        "count": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "trades",
                        "count"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - validation failed or invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/client/market": {
      "get": {
        "summary": "Browse market items",
        "description": "Lists available items on the market with search, sorting, price filtering, and pagination. Supports CS2 (730) and Rust (252490) games.",
        "tags": [
          "Client"
        ],
        "security": [
          {
            "ClientToken": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "popularity",
                "price_asc",
                "price_desc"
              ]
            },
            "required": false,
            "name": "sort",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "number",
                "null"
              ],
              "minimum": 0
            },
            "required": false,
            "name": "minPrice",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "number",
                "null"
              ],
              "minimum": 0
            },
            "required": false,
            "name": "maxPrice",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": -1,
              "maximum": 1000,
              "default": 50
            },
            "required": false,
            "name": "perPage",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "730",
                "252490"
              ],
              "default": "730"
            },
            "required": false,
            "name": "game",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated market items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "appid": {
                                "type": "integer"
                              },
                              "contextid": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "marketHashName": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "iconUrl": {
                                "type": "string"
                              },
                              "tradable": {
                                "type": "boolean"
                              },
                              "accepted": {
                                "type": "boolean"
                              },
                              "amount": {
                                "type": "number"
                              },
                              "marketPrice": {
                                "type": "number",
                                "description": "BUFF163 market price in USD"
                              },
                              "sourcingPrice": {
                                "type": "object",
                                "properties": {
                                  "source": {
                                    "type": "number",
                                    "description": "Price without fee in USD"
                                  },
                                  "withFee": {
                                    "type": "number",
                                    "description": "Price with fee in USD"
                                  }
                                },
                                "required": [
                                  "source",
                                  "withFee"
                                ]
                              },
                              "offer": {
                                "type": "object",
                                "properties": {
                                  "price": {
                                    "type": "number",
                                    "description": "Offer price in cents"
                                  },
                                  "reference": {
                                    "type": "string",
                                    "description": "Pass this in deposit/withdraw requests"
                                  },
                                  "delivery": {
                                    "type": "string"
                                  },
                                  "maxAmount": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "price",
                                  "reference"
                                ]
                              },
                              "exterior": {
                                "type": "string"
                              },
                              "rarity": {
                                "type": "string"
                              },
                              "color": {
                                "type": "string"
                              },
                              "phase": {
                                "type": "string"
                              },
                              "wear": {
                                "type": "string"
                              },
                              "fade": {
                                "type": "string"
                              },
                              "hardened": {
                                "type": "string"
                              },
                              "paintSeed": {
                                "type": "integer"
                              },
                              "stickers": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "slot": {
                                      "type": "integer"
                                    },
                                    "wear": {
                                      "type": "number"
                                    },
                                    "iconUrl": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "slot",
                                    "iconUrl"
                                  ]
                                }
                              },
                              "charm": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "pattern": {
                                    "type": "string"
                                  },
                                  "iconUrl": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "name",
                                  "iconUrl"
                                ]
                              },
                              "market": {
                                "type": "integer"
                              },
                              "purchaseStatus": {
                                "type": "string",
                                "enum": [
                                  "INITIATED",
                                  "PENDING",
                                  "ACTIVE",
                                  "HOLD",
                                  "COMPLETED",
                                  "FAILED",
                                  "REVERTED"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "appid",
                              "contextid",
                              "name",
                              "marketHashName",
                              "type",
                              "iconUrl",
                              "tradable"
                            ]
                          }
                        },
                        "count": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "items",
                        "count"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - validation failed or invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable error message(s)"
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
[...]
